body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
    color: #333;
}

:root {
    --decoration-color: #b83c3c;
    --background1-color: #2c2c2c;
    --menu-border-color: #949494;
    --dark-mode-background-body-color: #2c2c2c;
    --dark-mode-background1-color: #626262;
    --dark-mode-background-hf-color: #d1d1d1;
    --dark-mode-text-color-hf-color: #4a4a4a;
    --dark-mode-text-color: #e8e8e8;
}

section {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
    background-color: var(--background1-color);
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--background1-color);
    color: #fff;
    box-shadow: 0px 10px 10px var(--menu-border-color);
}

header cite{
    font-style: italic;
    text-decoration: underline 1px;
}

h1 {
    color: var(--decoration-color);
    text-decoration: underline 3px;
    font-style: italic;
    font-size: 60px;
}

h2 {
    border-bottom: 2px solid var(--decoration-color);
    padding-bottom: 5px;
}

p {
    font-style: italic;
    font-weight: bolder;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    background-color: var(--background1-color);
    color: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px -10px 10px var(--menu-border-color);
    
}
.job a:any-link{
    color: darkred;
}

.degree a:any-link{
    color: darkgreen;
}
.course a:any-link{
    color: darkblue;
}

footer a:any-link {
    color: rgb(190, 162, 0)
}

#idiomas {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 10px 10px var(--menu-border-color);
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}


#informatica {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 10px 10px var(--menu-border-color);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff2fe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
}

.skill span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 10px 10px var(--menu-border-color);
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff9f2;
    padding: 30px;
    border-radius: 5%;
    box-shadow: 0 2px 20px var(--menu-border-color);
    width: 200px; /* Ajusta según necesidad */
    text-align: center;
}

.job span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-reglada {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 10px 10px var(--menu-border-color);
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6fff2;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
}

.degree span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-complementaria {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 10px 10px var(--menu-border-color);
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2fffd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
}

.course span {
    font-size: 50px;
    margin-bottom: 10px;
}

@media (prefers-color-scheme: dark){
    body {
        background-color: #343434;
        color: #333;
    }

    header {
        background-color: var(--dark-mode-background-hf-color);
        color: var(--dark-mode-text-color-hf-color);
        box-shadow: 0px 5px 8px #d1d1d1;
    }

    #experiencia, #idiomas, #informatica, #formacion-complementaria, #formacion-reglada {
        background-color: var(--dark-mode-background1-color);
        box-shadow: 0px 6px 5px #3f3f3f;
    }

    .job {
        background-color: #867272;
        box-shadow: 0 2px 5px var(--menu-border-color);
        color: var(--dark-mode-text-color);
    }

    .degree {
        background-color: #88a07e;
        box-shadow: 0 2px 5px var(--menu-border-color);
        color: var(--dark-mode-text-color);
    }
    
    .course {
        background-color: #88b0b5;
        box-shadow: 0 2px 5px var(--menu-border-color);
        color: var(--dark-mode-text-color);
    }

    .language {
        background-color: #8282bf;
        box-shadow: 0 2px 5px var(--menu-border-color);
        color: var(--dark-mode-text-color);
    }

    .skill {
        background-color: #b670b0;
        box-shadow: 0 2px 5px var(--menu-border-color);
        color: var(--dark-mode-text-color);
    }

    .job a:any-link{
        color: rgb(187, 29, 29);
    }
    
    .degree a:any-link{
        color: rgb(37, 126, 37);
    }
    .course a:any-link{
        color: rgb(43, 43, 132);
    }

    footer a:any-link {
        color: rgb(165, 150, 67)
    }

    footer {
        background-color: var(--dark-mode-background-hf-color);
        color: var(--dark-mode-text-color-hf-color);
        box-shadow: 0px -5px 8px var(--menu-border-color);
        
    }
}